################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjectEvaluation/study.metadata.v7.bin
/.vs/ProjectEvaluation/study.projects.v7.bin
/.vs/Study/FileContentIndex/0f54ccbc-cf3c-4447-b6ad-2be9150b6a7a.vsidx
/.vs/Study/FileContentIndex/26a76c4a-bb44-4d55-89e9-4b74e35bee9b.vsidx
/.vs/Study/FileContentIndex/5ff45c88-01ae-488b-9b36-8c5094b5d264.vsidx
/.vs/Study/FileContentIndex/c38e67e2-c0fb-41cc-9a3c-3d08260e524a.vsidx
/.vs/Study/FileContentIndex/66894dbe-99da-4b50-9840-ff22ad9a98d1.vsidx
/.vs/Study/FileContentIndex/d6d53063-a60d-4a30-8c8c-4d49ba382ec5.vsidx
*.vsidx
/.vs/Study/FileContentIndex/read.lock
/.vs/ProjectEvaluation/study.metadata.v5.1
/.vs/ProjectEvaluation/study.projects.v5.1
/.vs/Study/DesignTimeBuild/.dtbcache.v2
/.vs/Study/v17/TestStore/0/000.testlog
/.vs/Study/v17/.futdcache.v2
/.vs/Study/v17/.suo
/bin/Debug/net6.0/Study.dll
/bin/Debug/net6.0/Study.exe
/bin/Debug/net6.0/Study.pdb
/obj/Study.csproj.nuget.g.props
/obj/Study.csproj.nuget.dgspec.json
/obj/project.nuget.cache
/obj/project.assets.json
/obj/Debug/net6.0/ref/Study.dll
*.json
/obj/Debug/net6.0/Study.pdb
/obj/Debug/net6.0/Study.genruntimeconfig.cache
/obj/Debug/net6.0/Study.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net6.0/Study.dll
/obj/Debug/net6.0/Study.csproj.FileListAbsolute.txt
/obj/Debug/net6.0/Study.csproj.CoreCompileInputs.cache
/obj/Debug/net6.0/Study.csproj.AssemblyReference.cache
/obj/Debug/net6.0/Study.assets.cache
/obj/Debug/net6.0/Study.AssemblyInfoInputs.cache
/obj/Debug/net6.0/apphost.exe
/obj/Debug/net6.0/refint/Study.dll
